##   Python  Data structure

### 1)LIST
### 2)Tuple
### 3)set
### 4)Dictionary

### 1)List

In [4]:
li=[]
type(li)

list

In [5]:
li#Acess entaire list

[]

In [6]:
li=[1,2,3,4,5]
li[1]#index start with 0

2

In [7]:
li[0:]

[1, 2, 3, 4, 5]

In [9]:
li[::-1]#Reverse of list

[5, 4, 3, 2, 1]

In [10]:
li[::2]

[1, 3, 5]

In [11]:
li[1::2]

[2, 4]

In [13]:
name="jaya"
Mylist=[]
print(type(name),type(Mylist))

<class 'str'> <class 'list'>

In [15]:
name=["jaya","123"]
print(type(name))
len(name)

<class 'list'>

2

### List of methods
## Append
### To add new item in the available list

In [17]:
name[0]

'jaya'

In [23]:
name.append("lakshmi")
name

['jaya', '123', 'lakshmi']

In [28]:
new_ persons=["jaya","lakshmi"]
name.append(new_ persons)
name

SyntaxError: invalid syntax (<ipython-input-28-bf2ab027d211>, line 1)

In [25]:
len(name)

4

### Extend method

In [26]:
name1=["jaya","unda","lakshmi"]

In [27]:
name1

['jaya', 'unda', 'lakshmi']

In [29]:
new_persons=["rgukt","nuzvid"]
name1.extend(new_persons)
name1

['jaya', 'unda', 'lakshmi', 'rgukt', 'nuzvid']

In [30]:
len(name1)

5

### Copy ()
## To print new backup of available list

In [32]:
jay=[12,23,45,56]
la=jay.copy()
jay

[12, 23, 45, 56]

In [36]:
girls=["vijaya lakshmi","rekha"]
girls[0]="jaya"
girls
girls.clear()

In [37]:
girls

[]

In [40]:
dir (list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

##   count (item)
### It can search for given item amd return the number of occurances in list

In [42]:
girls=["divya","divya","bharathi"]
girls.count("divya")

2

In [43]:
numbers=[1,2,3,4,5,[1,2]]# it can only count upto first list
numbers.count(2)

1

### index (item,sart_index_for_searching)
return index of first occuranc  of the item in list if available othewise value shows error

In [46]:
numbers.index(3)

2

In [53]:
num=[1,2,3,4,5,5,2]
num.index(2,4)

6

In [55]:
num=[1,2,3,4,5]
num.insert(3,4)
num

[1, 2, 3, 4, 4, 5]

In [56]:
num1=[10,20,30]
num1.insert(100,50)
num1

[10, 20, 30, 50]

### POP()
removes the element at the specific position

In [64]:
good_girls=["ponisha","mohini","divya","madhuri","jaya"]

good_girls.pop(1)

'mohini'

In [65]:
good_girls

['ponisha', 'divya', 'madhuri', 'jaya']

In [66]:
abscent_girls=["rani","bhan","laya","puja"]
abscent_girls.remove("puja")

In [67]:
abscent_girls

['rani', 'bhan', 'laya']

In [68]:
l=[1,2,3,4]
l.reverse()
l

[4, 3, 2, 1]

In [70]:
active_girls=["bharathi","jaya","keerthi","madhavi"]
active_girls.reverse()
active_girls

['madhavi', 'keerthi', 'jaya', 'bharathi']

### Sort ()
sort the list in alphabetical order

In [71]:
cars=["bmw","marutho","sujoki","hond"]
cars.sort()
cars

['bmw', 'hond', 'marutho', 'sujoki']